/* // Main background: #2B2733
// Text on main background: #CBC9CF
// Header, cards: #46424D
// Card shadow: #26222D
// Text on header and cards: #FFF
// Study: #B3FD78
// Meditate: #C278FD
// Exercise: #FD8078
// Error: #EFB7EC */


/* border-bottom: 1px solid;
border-color:#EFB7EC; will need to add this to the sections to add white split line.  */
* {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}
body {
  background: #2B2733;
  margin: 0;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #46424D;
  color: #FFF;
  height: 50px;
}
main {
  color: #CBC9CF;
  display:flex;
  flex-direction: row;
}

h1 {
  color: #CBC9CF;
  margin-left: 1em;
}

.new-activity {
  height: 50em;
  width: 65em;
  margin-bottom: 10em;
}

.container {
  background: #46424D;
  margin: 1.5em;
  padding: 4em;
  padding-top: 2em;
  padding-bottom: 18em;
}

.start-activity-button {
  border-radius: 4.5px;
  border: transparent;
  background-color: #FFF;
  /* display: flex;
  align-self: flex-end; */
}

.past-activities {
  border-left: 2px solid;
  border-color: #46424D;
  padding-right: 6em;
}

.list-past-activities {
  text-align: center;
  font-size: 13px;
  margin: 2em 3em 2em 6em;
}

.wrapper {
  display: flex;
  justify-content: space-around;
}

.study-button,
.meditate-button,
.exercise-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  background: #46424D;
  border-color: #FFF;
  border-radius: 4px;
  color: #FFF;
  height: 3.5em;
  padding: 1em;
  width: 10em;
  margin-right: 10em;
}

.logo {
  height: 1em;
  display: flex;
}

.input-one {
  margin: 2em 1em 2em 1em;
  padding: 1px;
}

.user-input-one {
  background: #46424D;
  border: transparent;
  border-bottom: 1px solid;
  border-color: #CBC9CF;
  width: 40em;
}


.input-two {
  display: block;
  /* flex-direction: row;
  justify-content: space-between; */
}

.time-input {
  display: flex;
  flex-direction: row;
  /* align-self: baseline; */
  background: #46424D;
  border: transparent;
  border-bottom: 1px solid;
  border-color: #CBC9CF;
  margin: 2em 1em 2em 1em;
}

.start-activity-button {
  background-color: #FFF;
  padding: .5em 2em .5em 2em;
  margin-left: 32em;

}

/* .study-button,
.study-logo {
  height: 6em;

} */
